body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #999999;
}
.break{
  height: 50px;
}
.gutter{
  height: 2160px;
  position: absolute;
  z-index: -2;
}
#image_1{
  background-image: url("images/background_l.png"); 
  left:0;
  width: 626px;
}
#image_2{
  background-image: url("images/background_r.png"); 
  right:0;
  width: 645px;
}
h1{
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

.head{
  font-family: Orbitron;
  user-select: none;
}

.head:hover{
  color: #0f99e3;
}

#header{
  position: relative;
  left:calc(10% - 50px);
  white-space: nowrap;
  height: 42px;
  margin: auto;
  font-size: 30px;
  padding: 6px 4px;
  display: inline-block;
}
.nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #333;
  z-index: 2;
  top: 0;
  height: 52px;
}

.nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}


.nav a.open {
  float: left;
  color: black;
}

.drawer_icon {
  width: 20px;
  height: 4px;
  border-radius: 25% 25% 25% 25%;
  background-color: black;
  margin: 3px 0;
}

.nav a:hover .drawer_icon{
  background-color: #0f99e3;
}

.sidenav {
  height: calc(100% - 52px);
  width: 0;
  position: fixed;
  z-index: 2;
  top: 52px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  width: 200px;
  cursor: pointer;
}

.sidenav .contact {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  width: 200px;
  cursor: pointer;
}

.sidenav a:hover {
  color: #0f99e3;
}
.sidenav .contact:hover {
  color: #0f99e3;
}

#info{
  position: absolute;
  bottom:3%;
}


#Content_Container_edge{
  margin-left: auto;
  margin-right: auto;
  background-color: #505050;
  z-index: -1;
  height: 100vh;
}
#Content_Container{
  margin: auto;
  width: calc(100% - 10px);
  margin-top: 52px;
  height: calc(100% - 53px);
  background-color: #505050;
  overflow-y: scroll;
  overflow-x:hidden;
  position: relative;
}

.Content{
  margin: auto;
  background-color: #505050;
  min-height: calc(100% - 50px);
  padding-bottom: 25px;
  width: calc(100% - 20px);
  user-select: none;
}
.not_Content{
  display: none;
}

#Content_Container::-webkit-scrollbar {
  width: 10px;
  
}

#Content_Container::-webkit-scrollbar-thumb {
  background: #0f99e3;
  border-radius: 20px;
}

#Content_Container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
.jumpto_container{
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
}
.jumpto{
  background-color: #0f99e3;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  white-space: nowrap;
  display: inline-block;
}
#TOP{
  opacity: .5;
  background-color: #333;
  bottom: 10px;
  position: fixed;
  margin-top: -100px;
  right: calc(10% + 20px);
  height: 30px;
  width:70px;
  text-align: center;
  border-radius: 10px;
  visibility: hidden;
  user-select: none;
}
#top{
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  line-height: 30px;
  font-family: Orbitron;
  color: #0f99e3;
}
#up_arrow{
  display: inline-block;
  height: 15px;
  width: 12px;
}
#TOP:hover{
  opacity: .9;
  cursor: pointer;
}

@font-face {
font-family: "Orbitron-light";
src: url("fonts/orbitron-light.otf");
}

@font-face {
font-family: "Orbitron";
src: url("fonts/orbitron-medium.otf");
}

@font-face {
font-family: "Orbitron-black";
src: url("fonts/orbitron-black.otf");
}

@font-face {
font-family: "Orbitron-bold";
src: url("fonts/orbitron-bold.otf");
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav b {font-size: 12px;}
}

@media screen and (max-width: 800px) {
  #Content_Container_edge{ 
    width: 100%;
  }  
}

@media screen and (min-width: 800px) {
  #Content_Container_edge{ 
    min-width: 800px;
    width: 80%;
  }  
}